* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
html{
    background-color: #edf1f6; background-image: url(./anh/nen1.png);
    background-size: cover;

  /* Ảnh nền không lặp lại */
  background-repeat: no-repeat;

  /* Ảnh nền cố định, không di chuyển khi cuộn trang */
  background-attachment: fixed;
}
body{
    
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}
header{
    background-color: rgb(156, 208, 238);
    text-align: center;
}
.mom{ width: auto ; height: auto;}
nav{
    background-color:rgb(156, 208, 238);
    
    }
    nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    nav ul li,a{
    padding: 0px 10px 0px 0px;
    }
    nav ul li:nth-child(2){
    left: 18%;
    position: relative;
    }
    nav ul li:nth-child(2) input{
    height: 33px;
    width: 450px;
    border-radius: 5px;
    border: none;
    padding-left: 6px;
    outline: none;
    }
    nav ul li:nth-child(2) button  {
    margin: 0px 6px;
    padding: 0px 10px ;
    position: absolute;
    font-size: 20px;
    right: 1%;
    line-height: 34px;
    cursor: pointer;
    color: red;
    border: none;
    background-color: transparent;
    /*border: 1px solid red;*/
    border-radius: 5px;
    transition: all 0.3s ease;
    }
    nav ul li:nth-child(2) button:hover {
    background-color: rgb(232, 225, 222);
    }
    nav ul li:nth-child(3){
    left: 130px;
    position: relative;
    }
    nav ul li:nth-child(3) button{
    height: 30px;
    padding: 0px 1px;
    cursor: pointer;
    background-color: transparent;
    /*border: 1px solid red;*/
   border-radius: 500px;
   transition: all 0.3s ease;
    }
    nav ul li:nth-child(3) button i{
    /*margin: 0px 6px;*/
    margin-right: 6px;
    margin-left: 6px;
    text-align: center;
    right: -1px;
    font-size: 20px;
    }
    nav ul li:nth-child(3) button:hover {
    background-color: rgb(86, 153, 186);
    }
    nav ul li:nth-child(4){
    left: 0.2%;
    position: relative;
    }   
    nav ul li:nth-child(4) button{
    height: 28px;
    padding: 0px 1px;
    cursor: pointer;
    background-color: transparent;
    /*border: 1px solid red;*/
   border-radius: 50px;
   transition: all 0.3s ease;
    }
    nav ul li:nth-child(4) button i{
    margin-right: 8px;
    margin-left: 8px;
    text-align: center;
    right: 50px;
    font-size: 23px;
    }
    nav ul li:nth-child(4) button:hover {
    background-color: rgb(86, 153, 186);
    }
    nav ul li:nth-child(5){
    left: 9%;
    position: relative;
    }
    nav ul li:nth-child(5) button{
    height: 30px;
    padding: 1px 1px;
    cursor: pointer;
    background-color: transparent;
    /*border: 1px solid red;*/
   border-radius: 60px;
   transition: all 0.3s ease;
    }
    nav ul li:nth-child(5) button i{
    margin-right: 6px;
    margin-left: 6px;
    text-align: center;
    font-size: 20px;
    }
    nav ul li:nth-child(5) button:hover {
    background-color: rgb(86, 153, 186);
    }
    nav ul li:nth-child(6){
    position: relative;
    }
    nav ul li:nth-child(6) button{
    height: 40px;
    padding: 10px 0px ;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease;;
    }
    nav ul li:nth-child(6) button a{
    color: red;
    background-color: transparent;
    }
    nav ul li:nth-child(6) button i{
        text-align: center;
        font-size: 34px;
        right: 10%;
        line-height: 20px;
        }
    nav ul li:nth-child(6) button:hover {
              background-color: rgb(86, 153, 186);
    }
.thanh1 a i{
    font-size: 200%;
    border: none;
}
.thanh1 button{
    padding: 5px;
    border: none;
    background-color: transparent;
}
.thanh1 {
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.thanh{
    background-color: #007bff;
    width: 100%;
    position: absolute;
    top: 8.5%;
}
.breadcrumb{
    position: absolute;
    background-color: transparent;
    margin: 0px 6px;
    padding: 0px 10px ;
    font-size: 110%;
    right: 81%;
    line-height: 690%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.a1:hover{
    background-color: rgb(189, 162, 162);
}
.a2{
    margin: 0px 8px;
}
.a2:hover{
    background-color: rgb(189, 162, 162);
}
   
.bangdangky { width: 40%; margin: 8% 30% -100%;  position: absolute;
                background-color:transparent;
                border-radius: 2%; border: 3px solid rgb(173, 173, 173);
              }
.form-title { background-color: #4acaf1f2; color: rgb(255, 255, 255);
              padding: 10px; text-align: center; font-size: 150%; 
                width: 50%; margin: 5% auto 3%;}
.form-group { margin-bottom: 10px; }
.form-group label { display: block; color: #ff9800;  margin: 1% 24%;}
.form-group input { width: 50%; padding: 5px;  margin: 0% 25%;}
.form-group button { width: 100px; background-color: #4acaf1f2; color: #fff;
                     padding: 10px; border: none; cursor: pointer; 
                     margin: 0% 42%;}
.login-option { text-align: center; margin-top: 20px; }
.login-option a { color: #007bff; }
.social-icons { text-align: center; margin-top: 20px; }
.social-icons img { width: 24px; margin: 0 5px; }
.gach{width: auto; text-align: center;top: 70% ;right: 46.8%; position:absolute;}
.gach i{
    width: 100%;
    position: relative;
}
.dangnhapqua{
    background-color: #4acaf1f2; color: rgb(255, 255, 255);
              padding: 5px; text-align: center; font-size: 90%; 
                width: 30%; margin: 1% auto 3%;
}
.appdangnhap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -2% 0% 2%;
    
}
.app{
    transition: all 0.3s ease;
    font-size: 190%;
    border: none;
    background-color: transparent;
    padding: 0% 2% ;
    border-radius: 20%;
}
.app:hover{
    background-color: rgb(251, 201, 136);
}